<div class="row footer_row">
    <!-- <hr><small> -->
	<div class="col-md-12">
            <ul class="BI__logos">
               
               <li><p class="pragyan_title">
                     <!-- <img src="../static/assets/images/pragyan.svg" alt="Pragyan"> -->
                     Data Visualisation Platform, Designed & Developed by</p>
                     <p> <strong>CENTRE OF EXCELLENCE FOR DATA ANALYTICS</strong>
                     </p>
               </li> 
            </ul>
        </div>
	
</div>
